/* temporary */
/* body {
  padding: 2rem 2rem;
} */
/* temporary */

*,
::after,
::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  /* primary */
  --primary-100: #dcfce7;
  --primary-200: #bbf7d0;
  --primary-300: #86efac;
  --primary-400: #4ade80;
  --primary-500: #22c55e;
  --primary-600: #16a34a;
  --primary-700: #15803d;
  --primary-800: #166534;
  --primary-900: #14532d;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* extra colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: 'Spectral', serif;
  --bodyFont: 'Karla', sans-serif;
  --smallText: 0.7em;

  /* rest of the variables */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --maxWidth: 1120px;
  --fixedWidth: 600px;

  /* box-shadow */
  --shadow-1: 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px 0 rgb(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgb(0, 0, 0, 0.1),
    0 2px 4px -1px rgb(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgb(0, 0, 0, 0.1),
    0 4px 6px -2px rgb(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgb(0, 0, 0, 0.1),
    0 10px 10px -5px rgb(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  margin: 0;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em; /*35em to 45em*/
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  width: 50vw;
  border-radius: var(--borderRadius);
  max-width: var(--max-width);
}

.img:not(.logo) {
  width: 100%;
  /* display: block; is important */
  display: block;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  /* temporary below */
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

.form {
  width: 90vw;
  max-width: var(--fixedWidth);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  outline: none;
}

.form-input:focus,
.form-textarea:focus {
  border: 0.25rem solid var(--primary-500);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.loading {
  height: 6rem;
  width: 6rem;
  border: 0.25rem solid var(--grey-400);
  border-top-color: var(--primary-500-500);
  border-radius: 50%;
  animation: load 0.6s linear infinite;
}

@keyframes load {
  to {
    transform: rotateZ(360deg);
  }
}

.loading {
  margin-left: auto;
  margin-right: auto;
}

/* title */

.title {
  text-align: center;
}

/* .title h2 {
  margin-bottom: 0.25rem;
} */

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/*
==================
Fun with Triangles
==================
*/

.alert {
  position: absolute;
  top: 0%;
  left: 50%;
  padding: 0.25rem 1rem;
  letter-spacing: var(--letterSpacing);
  transform: translateX(-50%);
  opacity: 0;
  transition: var(--transition);
}

.alert.show-alert {
  top: 5%;
  opacity: 1;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem 0;
  background: var(--white);
}

.header {
  background: var(--primary-500);
  height: fit-content;
  box-shadow: var(--shadow-2);
  /* border: 2px solid #222; */
}

.header-center {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  /* align-items: start; */
  /* border: 2px solid yellow; */
}

.header .heading {
  width: fit-content;
  padding-top: 0.5rem;
  font-size: 1.25rem;
  /* border: 2px solid #fff; */
  letter-spacing: var(--letterSpacing);
  color: var(--white);
  text-transform: uppercase;
  font-family: 'Megrim', cursive;
}

nav .nav-links {
  /* border: 2px solid #fff; */
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: -0.2rem;
  margin-bottom: 0.35rem;
}

.nav-link {
  /* border: 2px solid #222; */
  font-size: 0.69rem;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  color: var(--white);
  cursor: pointer;
}

.nav-link:not(.active-link) {
  transition: var(--transition);
}

.nav-link:not(.active-link):hover {
  color: var(--primary-800);
}

.active-link {
  cursor: default;
  padding: 0.25rem 0;
  border-bottom: 2px solid #fff;
}

@media screen and (min-width: 850px) {
  .header {
    height: fit-content;
  }
  .header .heading {
    padding: 0.5rem 0;
    font-size: 1.75rem;
  }
  .nav-link {
    font-size: 1.05rem;
  }
  .header-center {
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0 2rem;
  }

  nav {
    margin-bottom: -0.75rem;
    justify-self: end;
    width: 100%;
    max-width: 500px;
  }
}

.content {
  width: 85vw;
  max-width: 700px;
  margin: 0.25rem auto;
}

.content p {
  text-align: center;
  letter-spacing: var(--letterSpacing);
  font-size: 0.75rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .content p {
    line-height: 1.5;
    font-size: 1rem;
  }
}

[name='form'] {
  /* grid-area: 2 / 1 / span 1 / span 1; */
  height: fit-content;
  margin: 0 auto;
  width: 80vw;
  max-width: 800px;
  border: 2px solid var(--primary-300);
  background: var(--primary-100);
  padding: 1rem;
  padding-top: 0.75rem;
  border-radius: 1rem;
  /* display: grid; */
}

[name='form'] h3 {
  color: var(--primary-700);
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  font-family: 'Mergin', cursive;
  letter-spacing: var(--letterSpacing);
  margin-bottom: 0.65rem;
}

[name='form'] > .inputs {
  display: grid;
  place-content: center;
  text-align: start;
  /* border: 2px solid red; */
  gap: 0.25rem 0;
  margin-bottom: 0.75rem;
}

.angleOne-type,
.angleTwo-type,
.angleThree-type,
.sideOne-type,
.sideTwo-type,
.sideThree-type,
.base,
.height {
  /* border: 2px solid red; */
  width: 100%;
  /* margin: 0 auto; */
  max-width: 800px;
  color: var(--primary-800);
}

.angleOne-type label,
.angleTwo-type label,
.angleThree-type label,
.sideOne-type label,
.sideTwo-type label,
.sideThree-type label,
.base label,
.height label {
  font-size: 0.75rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.angleOne-type input,
.angleTwo-type input,
.angleThree-type input,
.sideOne-type input,
.sideTwo-type input,
.sideThree-type input,
.base input,
.height input {
  font-size: 0.75rem;
  min-width: 100%;
  max-width: 700px;
  border: 2px solid var(--grey-200);
  letter-spacing: var(--letterSpacing);
  padding: 0.25rem 0.55rem;
  color: var(--grey-500);
  border-radius: var(--borderRadius);
  transition: var(--transition);
}

.angleOne-type input:focus,
.angleTwo-type input:focus,
.angleThree-type input:focus,
.sideOne-type input:focus,
.sideTwo-type input:focus,
.sideThree-type input:focus,
.base input:focus,
.height input:focus {
  outline: 0;
  border-color: var(--primary-500);
}

.btn-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 0.75rem;
  /* border: 2px solid red; */
}

.btn {
  font-size: 0.75rem;
  padding: 0.35rem 0.5rem;
}

@media screen and (min-width: 786px) {
  [name='form'] {
    padding: 2rem;
    padding-top: 1rem;
  }

  [name='form'] h3 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }
  .angleOne-type,
  .angleTwo-type,
  .angleThree-type,
  .sideOne-type,
  .sideTwo-type,
  .sideThree-type,
  .base,
  .height {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0 0.35rem;
    margin-bottom: 0.5rem;
  }

  .angleOne-type label,
  .angleTwo-type label,
  .angleThree-type label,
  .sideOne-type label,
  .sideTwo-type label,
  .sideThree-type label,
  .base label,
  .height label,
  .base input::placeholder,
  .height input::placeholder,
  .sideOne-type input::placeholder,
  .sideTwo-type input::placeholder,
  .sideThree-type input::placeholder,
  .angleOne-type input::placeholder,
  .angleTwo-type input::placeholder,
  .angleThree-type input::placeholder {
    font-size: 1rem;
  }

  .angleOne-type input,
  .angleTwo-type input,
  .angleThree-type input,
  .sideOne-type input,
  .sideTwo-type input,
  .sideThree-type input,
  .base input,
  .height input {
    font-size: 0.95rem;
  }

  .btn-container {
    margin-bottom: 1.25rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.25rem 1.5rem;
  }
}

.output-section {
  line-height: 1.3;
  min-height: 2rem;
  max-height: fit-content;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  background: var(--white);
  /* text-align: center; */
  color: var(--grey-500);
  /* font-size: 0.85rem; */
  letter-spacing: var(--letterSpacing);
  font-size: 0.75rem;
}

.output-section span {
  font-size: 0.8rem;
  font-weight: 800;
}

@media screen and (min-width: 1000px) {
  .output-section {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }
}

.footer {
  /* grid-area: 4 / 1 / span 1 / span 1; */
  background: var(--primary-500);
  display: grid;
  gap: 0;
  justify-items: center;
  padding-bottom: 0.5rem;
}

.footer h2 {
  color: var(--white);
  width: 85vw;
  max-width: 700px;
  font-size: 1.15rem;
  text-align: center;
  padding-top: 1rem;
  letter-spacing: var(--letterSpacing);
  /* border: 2px solid red; */
  margin: 0;
  margin-bottom: 0.5rem;
}

.footer-links {
  /* border: 2px solid red; */
  align-self: start;
  display: flex;
  justify-content: space-between;
  width: 40vw;
  max-width: 300px;
  margin: 0 auto;
  margin-top: -0.35rem;
}

.footer-links a {
  font-size: 1.35rem;
  color: var(--black);
  transition: var(--transition);
}

.footer-links a:hover {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 0;
  }
  .footer h2 {
    margin-bottom: 0;
    font-size: 1.75rem;
  }
  .footer-links a {
    font-size: 2rem;
  }
}

/* Quiz section */

.quiz-content {
  height: 4rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.quiz-content h3 {
  font-size: 1.5rem;
  font-family: 'Megrin', cursive;
  text-align: center;
  letter-spacing: var(--letterSpacing);
  margin-bottom: 0.25rem;
  /* border: 2px solid red; */
}

@media screen and (min-width: 768px) {
  .quiz-content h3 {
    margin-right: 4rem;
  }
}

.quiz-section {
  border: 2px solid var(--primary-500);
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  background: var(--white);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
}

.question-article {
  background: var(--primary-100);
  width: 90%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3;
  border: 2px solid var(--primary-300);
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
  padding: 0.5rem;
  letter-spacing: var(--letterSpacing);
  font-size: 0.75rem;
}

.question-article p {
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  color: var(--primary-700);
}

.options-div {
  display: grid;
  justify-content: start;
  padding-left: 0.5rem;
}

.quiz-output {
  border: 2px solid var(--primary-700);
}

label {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .question-article {
    font-size: 1rem;
    line-height: 1.5;
  }
  .options-div {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 0 5rem;
  }
}

.quiz-output {
  width: 60%;
  text-align: center;
  height: 2.5rem;
}

.quiz-footer {
  position: relative;
}

.clear-btn {
  position: absolute;
  bottom: 7.9rem;
  right: 25%;
  margin-bottom: 2rem;
}

@media screen and (min-width: 786px) {
  .quiz-output {
    padding-top: 0.5rem;
    height: 2.75rem;
  }
  .quiz-footer {
    position: relative;
  }
  .clear-btn {
    bottom: 9.7rem;
    right: 35%;
  }
}
@media screen and (min-width: 1280px) {
  .clear-btn {
    bottom: 9.5rem;
    right: 40%;
  }
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: var(--shadow-4);
}

/* hypotenuse */
.content h3 {
  /* border: 2px solid red; */
  font-size: 1rem;
  width: 100%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Megrin', cursive;
  letter-spacing: var(--letterSpacing);
}

@media screen and (min-width: 768px) {
  .content h3 {
    font-size: 2rem;
  }
}

.hypo-output {
  text-align: center;
}
